<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fa fa-reorder" aria-hidden="true"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand" style="background-color: #260e04">
                <a href="#"><img src="/images/logo.png" alt="Imagen" width="60px"> Risk App</a>
                <div id="close-sidebar">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
            </div>
            <div class="sidebar-header" style="background-color: #4e342e">
                <div class="user-info">
                    <span class="user-name">{{user.username}}</span>
                    <span class="user-role">{{user.email}}</span>
                    <form action="/auth/logout" method="post">
                        <button type="submit" class="btn btn-outline-default waves-effect btn-sm">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesión
                        </button>
                    </form>
                </div>
            </div>
            <!-- ADD EVENT  -->
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button id="PFButton" type="button" class="btn btn-light-blue ml-3" onclick=addEvent("poolFire")>
                    <i class="fa fa-fire" aria-hidden="true"></i> Pool Fire
                </button>
                <button id="FBButton" type="button" class="btn btn-deep-orange ml-3" onclick=addEvent("fireBall")>
                    <i class="fa fa-sun-o" aria-hidden="true"></i> Fire Ball
                </button>
                <button id="tntButton" type="button" class="btn btn-yellow ml-3" onclick=addEvent("tntExplosion")>
                    <i class="fa fa-stop-circle-o" aria-hidden="true"></i> TNT Explosion
                </button>

            </div>

            <!-- EVENTS  -->
            <ul>
                {{#each tntExplosions}}
                    <li class="media list-group-item list-group-item-secondary rgba-brown-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a class="rgba-brown-light white-text" href=""><i class="fa fa-edit"
                                                                                      aria-hidden="true"></i></a>
                                    <a class="rgba-brown-light white-text" href="/tnt/delete/{{this._id}}/tnt"><i
                                            class="fa fa-trash" aria-hidden="true"></i></a>
                                </div>
                                <div class="col-sm-10">
                                    <a class="rgba-brown-light white-text" href='#'>TNT-{{this.eventName}}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}
                {{#each fireBall}}
                    <li class="media list-group-item list-group-item-secondary rgba-brown-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a class="rgba-brown-light white-text" href=""><i class="fa fa-edit"
                                                                                      aria-hidden="true"></i></a>
                                    <a class="rgba-brown-light white-text" href="/fireBall/delete/{{this._id}}/fb"><i
                                            class="fa fa-trash" aria-hidden="true"></i></a>
                                </div>
                                <div class="col-sm-10">
                                    <a class="rgba-brown-light white-text" href='#'>FB-{{this.fbName}}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}
                {{#each poolFire}}
                    <li class="media list-group-item list-group-item-secondary rgba-brown-light">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-2">
                                    <a class="rgba-brown-light white-text" href=""><i class="fa fa-edit"
                                                                                      aria-hidden="true"></i></a>
                                    <a class="rgba-brown-light white-text" href="/poolFire/delete/{{this._id}}/pf"><i
                                            class="fa fa-trash" aria-hidden="true"></i></a>
                                </div>
                                <div class="col-sm-10">
                                    <a class="rgba-brown-light white-text" href='#'>PF-{{this.pfName}}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </nav>

    {{>mapSidePr}}

    {{!-- MODAL ADD EVENT --}}
    {{>modalPoolFireEventPr}}
    {{>modalFireBallEventPr}}
    {{>modalTntExplosionEventPr}}
</div>

<div class="center">
    <p class="error">
        {{err}}
        {{msg}}
    </p>
</div>